.br-lg{
        height: 5rem;
                background-color: #6e2929;
                margin: 0 0;
                
}

.nav-item{
        color:#120c0c
}
.nav-link{
        color: black;
}
.nav-link:hover{
        color: #5a0e0e;
        text-decoration: underline;
        font:bold
}



.btn-outline-light{
        color:black;
}
.navbar-toggler{
        color: black;
}
span{
        color: black;
}
li button {
        height: 35px;
        width: 100px;
        padding-bottom: 20px;
        
/*        
        color: white;
        background-color: #09093a;
         */
         text-align: center;
     


}


 .btn-outline-light:hover{
  background-color: #11119c;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
@media(max-width:991px) {
  .btn-outline-light{
        margin-top: 1rem;
        padding: 0rem;
        margin-left: 0;
        }
}
.navbar-toggler-icon-black {
        background-color: black;
        
}
.separation-line {
        height: 1px;
        background-color: #120c0c;
        
        margin: 20px 0;
    
}